#container{
  position: relative;
  width: 800px;
  height: 600px;
  background-color: #EEEEEE;
}
#ball{
  position: absolute;
  left: 100px;
  top:100px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #CCCCCC;
}
