
/* ------------------------------------------------- *
 *        common style
 * ------------------------------------------------- */
body{
  background-image: none;
  font-family: $font-family-sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 700
}

.container{
  margin: 0 auto 40px;
  padding: 0 16px;
  box-sizing: border-box;

  p{
    font-family: $font-family-sans-serif;
    font-size: 0.9rem;
    line-height: 1.6;
  }
  ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .book-img{
      margin-bottom: 30px;
      box-shadow: 0 0 10px rgba(0,0,0,.3);
  }
  .data{
    background-color: #EFEFEF;
    padding: 20px;
    margin: 20px 0;

  }
  .seminar-title{
    border-left: 4px $brand-primary solid;
    padding-left: 10px;
    margin-bottom: 40px;
  }
}



/* header ------------------------------------------------- */
header {
  border-bottom: 20px $brand-primary solid;
  .container{
    margin: 0 auto 20px;
    h1{
      margin: 20px 0 0;
      text-align: left;
      img{
        width: 200px;
        height: auto;
      }
      span{
        color:$brand-success;
        vertical-align: bottom;
        padding: 0 0 0 10px;
      }
    }
    .subnav{
      text-align: left;
      ul{
        overflow: hidden;
        margin: 10px 0 0 0;
        li{
          font-size: 0.75rem;
          float: left;
          padding-right: 14px;
          margin-right: 14px;
          border-right: 1px #ccc dotted;
          &:last-child{
            margin-right: 0;
            padding-right: 0;
            border-right:none;
          }
        }
      }
    }
  }
}



/* .topicpath ------------------------------------------------- */
.topicpath {
  ul{
    overflow: hidden;
    margin: 20px 0 0 0;
    li{
      font-size: 0.75rem;
      float: left;
      padding-left: 25px;
      background: url(http://www.fusosha.co.jp/img/common/bc_arw.gif) no-repeat 9px center;

      &:first-child{
        padding-left: 22px;
        background: url(http://www.fusosha.co.jp/img/common/bc_home.gif) no-repeat 0 2px;
      }
      &:last-child{
        margin-right: 0;
        padding-right: 0;

      }
    }
  }
}


/* .overview ------------------------------------------------- */
.overview {
  .seminar-label{
    font-size: 1.5rem;
    .label{
      margin-right: 10px;
    }
  }
  .seminar-title{
    border-left: 4px $brand-primary solid;
    padding-left: 10px;
    margin-bottom: 40px;
    h1{
      margin-bottom: 10px;
      font-size: 2.25rem;
      margin:0 0 0;
      line-height: 1.2;
    }
    h2{
      margin-bottom: 0;
      font-size: 1.75rem;
      margin:0;
      line-height: 1.5;
    }
    h4{
      margin-bottom: 0.5rem;
      line-height: 1;
    }

  }
  ul{
    overflow: hidden;
    margin: 20px 0 0 0;
    li{
      font-size: 0.75rem;
      float: left;
      padding-left: 25px;
      background: url(http://www.fusosha.co.jp/img/common/bc_arw.gif) no-repeat 9px center;

      &:first-child{
        padding-left: 22px;
        background: url(http://www.fusosha.co.jp/img/common/bc_home.gif) no-repeat 0 2px;
      }
      &:last-child{
        margin-right: 0;
        padding-right: 0;

      }
    }
  }
}

/* .apply ------------------------------------------------- */
.apply{

  .data{
    background-color: #FFF;
    table{
      border-top: 1px solid #CCC;
      font-size: 0.85rem;
      th{
        border-bottom: 1px solid #CCC;
        width: 100px;
        padding: 20px 10px 20px 10px;
        vertical-align: top;
      }
      td{
        border-bottom: 1px solid #CCC;
        width: 780px;
        padding:  20px 10px 20px 10px;
        vertical-align: top;
      }
    }
  }
  .btn{
    padding: 20px;
    text-decoration: none;
  }
}

/* footer ------------------------------------------------- */

.pagetop{
  margin-top: 72px;
  height: 93px;
  background: url(http://www.fusosha.co.jp/img/common/pgt_bg.gif) no-repeat center top;
}
footer {
  padding: 0;
  background-color: $brand-primary;
  .container{
    margin: 0 auto 0;
    padding:40px 0;

    ul{
      text-align: left;
      overflow: hidden;
      margin: 0 0 0 0;
      li{
        font-size: 0.75rem;
        float: left;
        padding-right: 14px;
        margin-right: 14px;
        border-right: 1px #FFF dotted;
        &:last-child{
          margin-right: 0;
          padding-right: 0;
          border-right:none;
        }
        a:link,
        a:visited{
          color:#FFF;
          text-decoration: underline;
        }
        a:hover{
          color:#FFF;
          text-decoration: none;
        }
      }

    }
    #footerCopyright{
      margin-top: 5px;
      color:#FFF;
      font-size: 0.75rem;
    }
  }
}
