@charset "utf-8";
/* ===================================================================
CSS information
リセット及びbody初期設定
=================================================================== */

/* reset */
html {
	overflow-y: scroll;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,th {
	text-align: left;
}
q:before,q:after {
	content: '';
}
object,
embed {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}
img,abbr,acronym,fieldset {
	border: 0;
}
li {
	list-style-type: none;
}
img{
	vertical-align:bottom;
}
hr{
	border:none;
	margin:20px 0 25px;
	border-top:1px solid #e6e6e6;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary
{
	margin:0;
	padding:0;
}

/* default */
body {
	margin: 0;
	padding: 0;
	font-size: 0.750em;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
	line-height: 1.4;
	letter-spacing:2px;
	color: #555555;
}

/* link  */
a:link {
	text-decoration: none;
	color:#333;
}
a:visited {
	text-decoration: none;
	color:#333;	
}
a:hover {
	text-decoration: none;
	color:#ccc;
}
a:active {
	text-decoration: none;
	color:#ccc;
}

/* IE6 base font */
* html body {
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
@font-face {
    font-family: 'scupo.ttf';
    src: url(./fonts/scupo.ttf);
}

/* style */
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}
.center{
	text-align:center;
}
.color_red{
	color:#CC0000;
}
.st{
	font-weight:bold;
}

/* clearfix */
.clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clear             { zoom: 1; } /* IE6 */
*:first-child+html .clear { zoom: 1; } /* IE7 */